.showblog {
  text-align: center;
  padding: 50px 20px;
  background-color: rgb(96, 100, 218);
  color: #fff;
  background: linear-gradient(rgba(96, 100, 218, 0.7), rgba(96, 100, 218, 0.7)),
    url(../images/showblog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.showblog h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.showblog p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.happy-blogging {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  background-color: #fff;
  color: #6064da;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
}

.features {
  text-align: center;
  color: #6064da;
}

.image-people {
  height: auto;
  width: 90%;
}
