.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  color: white;
  box-shadow: 0 1px 3px #6064da;
}

.navbar-brand .logo {
  font-family:'Lucida Sans';
  color: #6064da;
  font-size: 2rem;
}

.navbar-brand a {
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  color: #6064da;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 1rem;
}

.navbar-menu li a {
  color: #6064da;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 2px 3px #6064da;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    margin: 0;
    padding: 0.8rem;
  }
}
